/* .sidebar {
  width: 300px;
  flex-shrink: 0;
  padding-top: 10px;
}

.sidebar .menu-group {
  margin-bottom: 30px;
}

.sidebar .menu-group-label {
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px 0;
}

.sidebar .menu-group .menu-item {
  padding: 10px 0;
}

.sidebar .menu-group .menu-item i {
  width: 30px;
} */

.sidebar {
  width: 200px;
  font-size: small;
  box-shadow: 2px 0px 1px 1px #f4f5fa;
}
.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__logo > img {
  padding-top: 10px;
  width: 60%;
  margin: 10px 0;
}
.sidebar__search {
  margin: 2em 0;
}

.sidebar__search > input {
  padding: 8px 10px;
  border: 1px solid #f4f5fa;
  box-shadow: 0px 1px 0px 1 px #f4f5fa;
  border-radius: 0px 50px 50px 0px;
  position: relative;
  outline-width: 0;
}

.sidebar__search > i {
  right: 30px;
  position: relative;
}

.sidebar a {
  text-decoration: none;
  color: #808080;
}
.sidebar__link li {
  padding: 10px 15px;
}

.sidebar hr {
  margin: 2em 0;
  border: 1px solid #f4f5fa;
}
